/* HTML Selectors */
body {
    font-family: 'Petrona', serif;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

main section{
    border: 1px solid #bbb;
    background-color: #eee;
}

main section img {
    width: 100%;
    height: auto;
    border: 1px solid #bbb;
}

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    font-size: 1rem;
    border-bottom: 1px solid #999;
    margin-bottom: 0.5rem;
}


#lastupdated {

    color: yellow;
}

header, footer {
    background-color: #3377aa;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

header, footer {
    padding: 5px;
    text-align: center;
}

.footerspacing {
    margin: 0;
}