@media only screen and (min-width: 60em) {

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
        border-left: 1px solid rgba(0,0,0,0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
    }

    main .spotlight{
        grid-template-columns: 1fr;
    }

    main section.spotlight3 {
        display: block;
    }

    .section3 {                                           /* Event section */
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .section1 {                                           /* Hero section */
        grid-area: 1 / 2 / span 2 / span 2;
    }

    .section4 {                                           /* Weather section */
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .section2 {                                           /* Join section */
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .section5 {                                           /* New Release section */
        grid-area: 3 / 2 / 4 / 4;
    }

    .section6 {                                           /* Spotlight section */
        grid-area: 1 / 4 / 4 / 5;
    } 

    .footerSection2 {                                           /* Footer section 2 */
        grid-column: 1 / 4; 
        grid-row: 2 / 3;
        display: inline-flex;
        text-align: left;
        
    }
    .footerSection3 {                                           /* Footer section 3 */
        grid-column: 4 / 5; 
        grid-row: 2 / 3;
        display: inline-flex;
        text-align: left;
        padding-top: 15px;
        padding-left: 5px;
    } 


}