@media only screen and (min-width: 32.5em) {

    
    header {
        font-size: 1rem;
    }

    h1 {
        font-size: 2.5rem;
        margin: 0.15rem;
    }

    h2 {
        font-size: 1.5rem;
    }

   #hero-img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /* grid-template-rows: 200px 200px; */
        grid-template-rows: auto;
        gap: 5px;
    }

    main .spotlight{
        grid-template-columns: 1fr 1fr;
    }

    main section.section2 {
        display: block;
    }

    footer {
        font-size: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }

    .footerSection1 {                                           /* Footer section 1 */
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        width: 100%;
        display: inline-flex;
        margin-top: 15px;
    }

    .footerSection2 {                                           
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        justify-content: left;
    }

    .addresssection {
        padding-left: 20px;
        text-align: left;
    }
    
     .footerSection3 {
        grid-column: 1 / 5;                                           
        grid-row: 2 / 3;
        display: inline-flex;
        justify-content: center;
     }

    .footerSection4 {                                           
        grid-column: 1 / 5;                                           
        grid-row: 3 / 4;
        display: inline-flex;
        justify-content: center;
    } 

    #footerfield1, #footerfield2, #footerfield3 {
        border-right: 1px solid;
        padding-right: 10px;
        padding-left: 10px;
    }


    .section1 {                                           /* Hero section */
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }

    .section5 {                                           /* New Releasesection */
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }

    .section6 {                                           /* Spotlight section */
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }

    .section2 {                                           /* Join section */
        grid-column: 1 / 5;
        grid-row: 4 / 5;
    }

    .section3 {                                           /* Event section */
        grid-column: 1 / 4;
        grid-row: 5 / 6;
    }

    .section4 {                                           /* Weather section */
        grid-column: 4 / 5;
        grid-row: 5 / 6;
    }

    .hover-img {
        width: 60%;
        height: auto;
        border: 10px solid #8FCEEB;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #6f7364;
    }
    
    .hover-img:hover {
        opacity: .6;
        transform: scale(1.1);
    }
}