/* HTML Selectors */
body {
    font-family: 'Petrona', 'Roboto', serif;
    font-size: 16px;
}

/* .logo {
    border-radius: 25%;
}  */

header {
    font-size: .75rem;
}

header h1 {
    
    font-size: 1.5rem;
    margin: 0.15rem;
}

header h2 {
    font-size: .90rem;
}

p {
    font-family: 'Roboto', serif;
}

header {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
}



nav button {
    margin: .2rem 2vw;
    background: transparent;
    font-size: 2rem;
    color: white;
    border: 1px solid gray;
    width: 50px;
    height: 50px;
}



nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.5);
    background-color: yellowgreen;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}


#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}

#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}


main {
    display: grid;
    grid-template-columns: 1fr;
}

main section{
    margin: 0.5rem;
    border: 1px solid #bbb;
    background-color: #eee;
    height: auto;
}

main .spotlight{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border: 1px solid #bbb;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #eee;

}

main section.section2 {
    display: none;
}

main section.spotlight3 {
    display: none;
}

main section h2 {
    margin-top: 0;
    padding-top: 20px;
    padding-left: 10px;
}

img {
     width: 100px;
     height: auto;
}

.roundImage {
    border-radius: 50%;
  }
   
#lastupdated {

    color: white;
}

header, footer {
    background-color: #056f38;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    padding: 5px;
    text-align: center;

}


.footerspacing {
    margin: 0;
}

header .social img {
    height: 25%;
    width:  25%;
}

.todaybanner {
    background-color: yellowgreen;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}