/* HTML Selectors */
body {
    font-family: 'Petrona', 'Roboto', serif;
    font-size: 16px;
}

.logo {
    width: 200px;
    height: auto;
} 

header {
    font-size: .75rem;
    position: relative;
}

h1 {
    
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    font-size: .90rem;
}

p {
    font-family: 'Roboto', Arial, serif;
}

header {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 15px; 
}

.companyname {
    margin-left: 10px;
}

nav {
    width: 100%;
}

#hamburguerBtn {
    margin: .2rem 2vw;
    background: transparent;
    font-size: 1rem;
    color: white;
    border: 1px solid gray;
    width: 25px;
    height: 25px;
}



nav ul li a {
    display: block;
    /* padding: .8rem 2vw; */
    padding: 15px;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(0,0,0,0.5);
    background-color: yellowgreen;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}


#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}

#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

main section{
    margin: 0.5rem;
    border: 1px solid #bbb;
    /* background-color: #0D9CF2; */
    background-color: #0B426D;
    color: white;
    height: auto;
    text-align: center;
}

main .spotlight{
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border: 1px solid #bbb;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #105E9B;

}

main section.section2 {
    display: none;
}

main section.spotlight3 {
    display: none;
}

main section h2 {
    margin-top: 0;
    padding-top: 20px;
    padding-left: 10px;
    color: #F8F807;
}

main section a {
    color: #F8F807; 
    text-decoration: none;
}
/* img {
     width: 100px;
     height: auto;
} */

.section1 {
    position: relative;
}


#hero-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.line {
    width: 80%;
}

.hero-msg {
    position: absolute;
    top: 20px;
    left: 20px;
}

.hero-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

 .join-button {
    margin-top: 30px;
    left: 30px;
}

.join {
    color: #fff;
    background-color: yellowgreen;
    text-decoration: none;
    /* font-size: 18px; */
    padding: 15px 30px;
    border-radius: 5px;
}

.roundImage {
    border-radius: 50%;
  }
   
#lastupdated {

    color: white;
}

header, footer {
    background-color: #056f38;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

footer {
    padding: 5px;
    font-size: .75rem;
    text-align: center;

}

#footerfield4 {
    display: none;
}

.footerSection3 {
    margin-top: 20px;
    border-top: 1px solid;
 }

.footerspacing {
    margin: 0;
}

header .social img {
    height: 25%;
    width:  25%;
}

.todaybanner {
    background-color: yellowgreen;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    margin: 15px;
}

#meet-banner {
    background-color: yellow;
    /* width: 90%; */
    text-align: left;
    font-size: 1rem;
    position: absolute;
    right: 15px;
    color: black;
    /* margin: 15px; */
    top: 0px;
    display: none;
}

.discoverContainer  {
    display: grid;
    grid-template-columns: 400px;
    justify-content: center;

}
