/* HTML Selectors */
body {
    font-family: 'Kalam';
}

.container {
    height: 280px;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    background-color: #3377aa;
    color: white;
    padding-left: 40px;
    border-radius: 25px;
}
   
img {
     max-width: 100%;
     max-height:100%;
}
   
.text {
    font-size: 20px;
}

.bottomtext {
    margin-top: 0;
}

#lastupdated {

    color: yellow;
}

footer {
    background-color: #3377aa;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
}