/* HTML Selectors */
body {
    font-family: 'Petrona', serif;
}

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    font-size: 1rem;
    border-bottom: 1px solid #999;
    margin-bottom: 0.5rem;
}

header {
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    padding-left: 40px;
}
 
.leftmargin {
    padding-left: 40px;
    margin-right: 10px;
}

img {
     width: 200px;
     height: auto;
}
   
.bottomtext {
    margin-top: 0;
}

.lineseparator {
    margin-top: 0;
    margin-bottom: 0;
}

#lastupdated {

    color: yellow;
}

header, footer {
    background-color: #3377aa;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 10px 10px 10px 10px #b5b5b5, -1em 0 2em #b5b5b5;
}

footer {
    padding: 5px;
    text-align: center;

}

.footerspacing {
    margin: 0;
}